@use 'sass:math';

.label-stack {
	--item-wide: 10em;
	--item-narrow: 1.5em;
	--item-scale: #{math.div(2, 3)}; // 0.666…

	font-size: em(12);
	font-weight: var(--font-weight-semibold); // Overrides when unread email context

	&.max-w100 {
		--item-wide: 100%;
	}

	&-item,
	&-overflow-count {
		border-radius: 1em;
		line-height: 1.5;
	}

	&-item {
		max-inline-size: var(--item-wide);
		margin: 0.125em;
		overflow: hidden;
		background-color: var(--label-bg, var(--background-strong));
		color: white;

		&-inner {
			padding-inline: em(8, 12);
			border-radius: inherit;
			text-align: start;

			&.with-delete {
				padding-inline-end: em(4, 12);
			}
		}

		&-inner:not(#{&}-button) &-text {
			cursor: default;
			user-select: all;
		}

		&-button {
			transition: 0.15s easing(ease-out-quint);

			&:hover,
			&:focus-visible {
				background-color: var(--label-bg-hover, var(--background-strong));
			}

			&:active {
				background-color: var(--label-bg-active, var(--background-strong));
			}
		}

		&-delete {
			padding-inline: 0 em(2, 12);

			& &-icon {
				display: block;
				margin: auto;
			}
		}
	}

	&-overflow-count {
		background-color: var(--background-strong);
		margin-inline-start: 0.125em;
		cursor: pointer;

		& > * {
			display: block;
			padding-block: 0.125em;
			padding-inline: 0.25em 0.375em;
			color: var(--text-norm);
		}
	}

	&:not(.is-stacked) {
		margin: -0.125em;
	}

	&.is-stacked {
		overflow: hidden;
		align-items: baseline;
		flex-wrap: nowrap;

		.label-stack-item {
			overflow: hidden;
			margin: 0;
			transition: transform 0.1s 0.2s easing(ease-out-quart), max-inline-size 0.2s 0s easing(ease-out-quart);

			&:hover,
			&:focus-within,
			&:first-child {
				transition-delay: 0s, 0.075s;
			}

			&:not(:first-child) {
				--button-opacity: 0;

				max-inline-size: var(--item-narrow);
				transform: scale(var(--item-scale));
			}

			&-inner,
			&-delete-icon {
				opacity: var(--button-opacity, 1);
				transition: opacity 0.2s 0.1s easing(ease-out-quart);
			}

			&-delete {
				overflow: hidden;
			}
		}

		@include respond-to($breakpoint-small, 'max') {
			.label-stack-item-delete {
				display: none;
			}
		}

		@include respond-to($breakpoint-small, 'min') {
			&:hover,
			&:focus-within {
				.label-stack-item {
					// Avoid glitch effect on first-child
					&:first-child:not(:hover, :focus-within) {
						--button-opacity: 0;

						max-inline-size: var(--item-narrow);
						transform: scale(var(--item-scale));
						transition-delay: 0.2s, 0s;
					}

					&:not(:first-child):hover,
					&:not(:first-child):focus-within {
						--button-opacity: 1;

						max-inline-size: var(--item-wide);
						transform: scale(1);
					}
				}
			}
		}
	}
}
