@import '~@proton/styles/scss/config';

.contacts-widget {
	--min-width: #{em(500)};
	--min-height: #{em(550)};

	&-search-container,
	&-toolbar,
	.item-container {
		padding-inline: em(24);
	}

	&-tabs {
		padding-block-start: em(12);
		margin-inline: em(24);
	}

	.ReactVirtualized__Grid__innerScrollContainer {
		border: 0;
	}
	@include respond-to($breakpoint-small) {
		&.dropdown {
			padding-inline: 5%;
		}
	}

	.item-container {
		border-block-end: 1px solid var(--border-weak);
		border-radius: 0;
		margin-inline: 0;
		padding-block-start: 0;
	}
}

.contacts-modal {
	// Special case otherwise contacts are not properly displayed
	--size: #{rem(700)};
}
