@import '~@proton/styles/scss/config';

$container-to-width: 4em !default;

.message-conversation-summary {
	.is-appearing-content {
		@extend %appearing-container;
	}

	&-is-loading {
		pointer-events: none;
	}

	&-is-loading &-header,
	&-is-loading &-stat {
		position: relative;

		&::before {
			@extend %item-loading-pseudo;
			@extend %placeholder-loading;
		}
	}

	&-is-loading &-header {
		&::before {
			inline-size: 25%;

			@include respond-to($breakpoint-small) {
				inline-size: 50%;
			}
		}
	}

	&-is-loading &-stat {
		&::before {
			inline-size: 2em;
		}
	}

	&-is-loading &-star {
		@extend %placeholder-loading;
	}
}

.trashed-messages,
.message-header {
	color: var(--email-item-read-text-color, var(--text-norm));
}

.message-container {
	border: 1px solid var(--border-weak);
	border-radius: var(--border-radius-md);
	@extend %appearing-container;

	transition: 0.15s easing(ease-out-quint);

	/* states classes */
	&.is-opened {
		& .message-header {
			border-block-end: 1px solid var(--border-weak);
			border-end-start-radius: 0;
			border-end-end-radius: 0;
			color: var(--text-norm);
			background-color: var(--email-message-view-background-color);
		}
	}

	&.is-unread {
		border-color: var(--border-norm);
	}
}

.message-header {
	border-radius: var(--border-radius-md); // Can't overflow 'cause of ::before, so repeat radius
	padding-block: 1em em(11); // margin of 7 under buttons + 11 = 18, what design wants
	background-color: var(--email-item-read-background-color);
	color: var(--email-item-read-text-color);

	&-security-icons {
		inset-block-start: 0.125em;
		transform: translateY(-50%);
		inset-inline-end: 1em;
		background-color: var(--email-message-view-background-color);
		padding-block-end: 0.125em;
		border-radius: var(--border-radius-md);
	}

	.is-appearing-content {
		@extend %appearing-container;
	}

	&.is-unread {
		background-color: var(--email-item-unread-background-color);
		color: var(--email-item-unread-text-color);
		font-weight: var(--font-weight-bold);
	}

	&.is-loading {
		pointer-events: none;
	}

	// &.is-loading .message-recipient-item-icon,
	// &.is-loading &-star {
	// 	@extend %placeholder-loading;
	// }

	// &.is-loading .message-recipient-item-icon {
	// 	background-color: currentcolor;
	// 	opacity: 0;
	// }

	&.is-loading .message-recipient-item-label,
	&.is-loading .message-recipient-item-address,
	&.is-loading &-metas,
	&.is-loading &-to,
	&.is-loading &-contact,
	&.is-loading .message-show-hide-link-container {
		position: relative;

		&::before {
			@extend %item-loading-pseudo;
			@extend %placeholder-loading;
		}
	}

	&.is-loading .message-recipient-item-label {
		inline-size: 100%;
		max-inline-size: 7.5em;
		min-inline-size: 3em;

		&::before {
			inline-size: 100%;
		}
	}

	&.is-loading .message-recipient-item-address {
		inline-size: 100%;
		max-inline-size: 12.5em;

		&::before {
			inline-size: 100%;
		}
	}

	&.is-loading &-metas {
		&::before {
			inline-size: 10em;
		}
	}

	&.is-loading &-to {
		&::before {
			inline-size: 1.25em;
		}
	}

	&.is-loading &-contact {
		&::before {
			inline-size: 7.5em;
		}
	}

	&.is-loading .message-show-hide-link-container {
		&::before {
			inline-size: 6em;
		}
	}
}

// when message is collapsed
.message-header-collapsed {
	padding-block: 1em;
}

// when message is expanded (details or not)
.message-header-expanded {
	padding-block-start: 0.65em; // value to avoid shifts on right icons

	.message-header-expand-button {
		margin-inline-end: #{em(5) * -1}; // aligned with tracker protection icon
	}

	.message-recipient-item-label-address {
		margin-block-end: 0.5em;
	}

	.message-header-from-container {
		.message-recipient-item-lock-icon {
			transform: translateY(#{em(2)}); // Magic number for visual alignment
			vertical-align: baseline;
		}

		.message-recipient-item-label-address {
			margin-block-end: 0.25em; // design request to make from and to closer
		}
	}

	// flatten everything for ellipsis on one line (no detail view)
	// problem: hover states are wider than the container
	// so added a few margins everywhere to "have enough space"
	.message-recipient:not(.message-recipient-expanded) {
		.message-recipient-item-expanded .container-to {
			padding-block-start: 0.2em;
		}

		.message-recipient-item-expanded-content {
			padding-inline: 0.5em;
			padding-block: 0.2em;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-inline-size: 100%;
			overflow: hidden;
			margin-inline-start: -0.5em;

			* {
				flex-wrap: nowrap;
				text-overflow: '';
				display: inline;
				overflow: visible;
			}

			svg {
				margin-block-start: -0.15em;
			}
		}

		.container-to {
			padding-block-start: 0.05em;
		}
	}

	// recipient on mobile
	.message-header-recipient-mobile {
		.message-recipient-item-label {
			font-size: em(16);

			&::after {
				// force breaking with CSS
				content: '\A';
				white-space: pre;
			}
		}

		.message-recipient-item-address {
			margin-inline-start: 0;
		}
	}
}

.message-recipient-expanded {
	.container-to {
		margin-block-start: 0.1em;
		padding-block-start: 0.2em;
	}

	.message-recipient-item-expanded-content {
		margin-block-start: 0.1em;
		display: flex;
		flex-direction: column;
	}

	.message-recipient-item-lock-icon {
		transform: translateY(#{em(2)}); // Magic number for visual alignment
		vertical-align: baseline;
	}
}

// details expanded shift removal
.message-header-ccbcc-container {
	.message-recipient-expanded {
		.message-recipient-item-expanded-content {
			padding-block-start: 0.2em;
		}
	}
}

// hide these containers when there is nothing inside
.message-header-extra:empty,
.message-header-expanded-label-container:empty,
.message-recipient-item-address:empty {
	display: none;
}

// hover state for recipients
.message-recipient-item {
	outline: 0; // yes, in this case, I know what I'm doing

	&:hover,
	&:focus-visible,
	&[aria-expanded='true'] {
		// hide coma, as requested :D
		+ .message-recipient-item-separator {
			visibility: hidden;
		}

		.message-recipient-item-label-address::before {
			content: '';
			position: absolute;
			inset-inline: -0.4em;
			inset-block: -0.2em;
			border-radius: var(--border-radius-md);
			background-color: var(--interaction-default-hover);
		}

		.message-recipient-item-label-address > * {
			position: relative;
			z-index: 2;
		}
	}

	// only for message details, recipient should take full width
	.message-detail-modal-container & {
		inline-size: 100%;
	}
}

// container from/CC/BCC
.container-to {
	min-inline-size: $container-to-width;

	.item-icon {
		&:focus,
		&:hover {
			.item-abbr {
				display: none;
			}

			.item-caret {
				display: block;
			}
		}
	}
}

/* states classes */
.trashed-messages:focus,
.message-container.is-focused {
	border-color: var(--field-focus);
	box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
}

.message-content {
	border-start-start-radius: 0;
	padding-block-start: em(18); // design request
	border-start-end-radius: 0;
	border-end-start-radius: var(--border-radius-md);
	border-end-end-radius: var(--border-radius-md);

	.message-container.has-attachments & {
		border-radius: 0;
	}

	// force color until real dark mode
	// as mail content is forced on white bg, button has to be forced as well
	.toggle-original-message-button {
		--button-default-border-color: silver;
		--button-hover-border-color: silver;
		--button-active-border-color: silver;
		--button-default-text-color: inherit;
		--button-hover-text-color: inherit;
		--button-active-text-color: inherit;
	}

	// Remove padding if in print modal
	&-print {
		padding-block-start: 0;
	}

	&-loading-placeholder {
		position: relative;

		&::before {
			@extend %item-loading-pseudo;
			@extend %placeholder-loading;

			inline-size: 100%;
		}
	}

	&.dark-style {
		background: white;
	}
}

.message-iframe {
	opacity: 1;
	transition: 0.1s easing(ease-out-sine);
	transition-property: opacity;

	&.message-iframe--hidden {
		opacity: 0;
		block-size: 0;
		overflow: hidden;
	}
}
