$padding-inline-start-link: rem(20) !default;

.navigation-link,
.navigation-link-header-group {
	padding-block: rem(9.5);
	padding-inline: $padding-inline-start-link 1em;
	text-decoration: none;
	display: block;
}

.navigation-link-header-group--expandable {
	padding-block: 0; // no padding for this case, it's in the element to avoid shift
}

.navigation-icon {
	color: var(--text-weak);

	&-empty {
		inline-size: rem(23);
	}
}

.navigation-refresh {
	display: none;
}

.navigation-link {
	@extend .interactive;

	position: relative;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;
		pointer-events: none;
		transition: 0.15s easing(ease-out-quart);
		border-inline-start: 4px solid transparent;
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&.active::after {
		border-inline-start: 4px solid var(--navigation-current-item-marker-color);
	}

	&--collapsible {
		padding-block: rem(5.5);
	}
}

.navigation-link-child {
	padding-inline-start: calc(#{rem(10)} + #{$padding-inline-start-link});
}

[aria-current='page'].navigation-link {
	background-color: var(--navigation-current-item-background-color);
	color: var(--navigation-current-item-text-color);
	font-weight: var(--font-weight-bold);

	.navigation-link {
		color: var(--text-norm);
	}

	&:hover .navigation-icon:not(.navigation-icon--expand),
	.navigation-icon {
		color: inherit;
	}

	.navigation-refresh {
		display: inline-flex;
	}
}

// labels/folders sections
.navigation-link-header-group-link {
	padding-block: 0.45em; // this padding is there to avoid a shift between opened/close menu
	margin-inline-start: -0.5em; // negative margin to align caret icon with other menu entries
	outline: none;
	@supports selector(:focus-visible) {
		// had to do this because of Safari
		outline: unset;
	}

	color: var(--text-weak);

	&:hover,
	&:focus {
		color: var(--text-norm);
	}

	.navigation-icon--expand {
		color: var(--text-weak);
	}
}

.navigation-link-header-group-control {
	@extend .interactive;

	padding: 0.5em;
	border-radius: var(--border-radius-md);
	color: var(--text-weak);

	.navigation-icon--expand {
		color: var(--text-weak);
	}

	// &:focus, // gimme focus-visible !!!!
	&:hover {
		color: var(--text-norm);

		.navigation-icon {
			color: inherit;
		}
	}
}

.navigation-link--expand:focus,
.navigation-link--expand:hover,
// .navigation-link-header-group-link:focus,
.navigation-link-header-group-link:hover {
	.navigation-icon--expand {
		color: inherit;
	}
}

/* items counters */
.navigation-counter-item {
	padding-inline: 0.5em;
	border-radius: var(--border-radius-full);
	background: var(--navigation-item-count-background-color);
	font-size: em(11);
	line-height: em(16, 11);
	font-variant: tabular-nums;
	color: var(--navigation-item-count-text-color);

	&--transparent {
		background: transparent;
		color: inherit;
	}

	&:empty {
		display: none; // removes a bug on Webkit
	}
}

/* Sub folders */
.navigation-item {
	[data-level='1'] {
		padding-inline-start: 0.6em;
	}

	[data-level='2'] {
		padding-inline-start: 1.2em;
	}
}

/* Sub-navigation */
.navigation-sublist {
	margin-inline-start: $padding-inline-start-link;
	overflow: hidden;
	opacity: 1;
	transition: visibility 0s ease, transform 0.5s ease, opacity 0.5s ease, max-block-size 0.5s ease;
	transform-origin: top center;
	transform: scale(1, 1);
	max-block-size: 44em;
	visibility: visible;
	transition-delay: 0s;

	&[aria-hidden='true'] {
		display: block;
		opacity: 0;
		max-block-size: 0;
		visibility: hidden;
		transform: scale(1, 0);
		transition-duration: 0s, 0.25s, 0.25s, 0.25s;
		transition-delay: 0.5s, 0s, 0s, 0s;
	}
}

.navigation-subitem {
	margin-inline-start: rem(7);
}

.navigation-sublink {
	@extend .interactive;

	border-inline-start: 2px solid var(--border-norm);
	display: block;
	padding-block: rem(7.5);
	padding-inline: rem(15) rem(10);
	text-decoration: none;

	&[aria-current='true'] {
		background-color: var(--navigation-current-item-background-color);
		color: var(--navigation-current-item-text-color);
		border-inline-start: 2px solid var(--navigation-current-item-marker-color);
		font-weight: var(--font-weight-bold);
	}
}
