.mt1r {
	margin-block-start: rem(10);
}

.mt0-5r {
	margin-block-start: rem(5);
}

.mr0-5r {
	margin-inline-end: rem(5);
}

.mr-2 {
	margin-inline-end: -2em;
}

.mr-6p {
	margin-inline-end: em(-6);
}

.mr-0-5 {
	margin-inline-end: -0.5em;
}

.mt-0-5 {
	margin-block-start: -0.5em;
}

.mb-0-5 {
	margin-block-end: -0.5em;
}

// when updating margin sizes, please update them in Storybook accordingly
// applications/storybook/src/stories/cssUtilities/Margin.stories.tsx
@include spacing-generator(
	// coordinates
	(m, mt, mr, mb, ml, mx, my),
	// margin sizes
	(0, 0.1, 0.15, 0.2, 0.25, 0.3, 0.4, 0.5, 0.6, 0.75, 0.85, 1, 1.25, 1.5, 1.75, 2, 3, 4)
);

// when updating padding sizes, please update them in Storybook accordingly
// applications/storybook/src/stories/cssUtilities/Padding.stories.tsx
@include spacing-generator(
	// coordinates
	(p, pt, pr, pb, pl, px, py),
	// padding sizes
	(0, 0.15, 0.25, 0.3, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2, 2.25, 3, 4, 5)
);

.mtauto {
	margin-block-start: auto;
}

.mrauto {
	margin-inline-end: auto;
}

.mbauto {
	margin-block-end: auto;
}

.mlauto {
	margin-inline-start: auto;
}

.ml-custom {
	&#{&} {
		margin-inline-start: var(--margin-left-custom);
	}
}

.pl-custom {
	&#{&} {
		padding-inline-start: var(--padding-left-custom);
	}
}

.pb-custom {
	&#{&} {
		padding-block-end: var(--padding-bottom-custom);
	}
}

.mauto {
	margin: auto;
}

.center, // deprecated
.mxauto {
	margin-inline: auto;
}

.myauto {
	margin-block: auto;
}
