@use 'sass:math';

/*
 * Items
 * For conversations list
 */

.items-column-list {
	inline-size: var(--width-conversation-column, calc(100vw * #{math.div($conversations-column-width, 100%)}));
	min-inline-size: 320px; // Subjective value
	max-inline-size: calc(100% - 400px); // Subjective value
}

// trick to have proper direction on react virtual lists
.ReactVirtualized__Grid,
.ReactVirtualized__List {
	direction: inherit !important;
}

.items-column-list-inner,
.ReactVirtualized__Grid__innerScrollContainer {
	border-inline-end: 1px solid var(--border-weak);
	min-block-size: 100%;
}

.items-column-list-inner--border-none {
	// fix for Contact and ReactVirtualized__Grid
	border: 0;
}

.items-column-list--mobile {
	inline-size: 100%;
}

.items-column-list,
.items-column-list--mobile,
.view-column-detail {
	block-size: 100%;
}

.view-column-detail,
// because it's sticky on top
.message-conversation-summary {
	background-color: var(--email-message-view-background-color);
}

$item-container-height: rem(66) !default;
$item-container-padding-block: em(13) !default;
$item-container-padding-inline-start: em(16) !default;
$item-container-padding-inline-end: em(12) !default;
$item-container-padding-inline: $item-container-padding-inline-start $item-container-padding-inline-end;
$item-container-height-compact-mode: rem(56) !default;
$item-container-row-height-compact-mode: rem(36) !default;
$item-container-row-padding-block: em(5) !default; // design wants 48px

.item-container,
.item-container-row {
	@extend %appearing-container;

	position: relative;
	padding-block: $item-container-padding-block; // design wants ~66 height
	padding-inline: $item-container-padding-inline;
	scroll-margin-block-start: $item-container-height;

	// no transition, otherwhise there's a flash on page loading
	// because of theme file loading after applying default theme colors

	&.read {
		background-color: var(--email-item-read-background-color);
		color: var(--email-item-read-text-color);

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-read-icon-background-color);
			color: var(--email-item-read-icon-text-color);
		}
	}

	&.unread {
		background-color: var(--email-item-unread-background-color);
		color: var(--email-item-unread-text-color);

		.item-senders,
		.item-senddate-col,
		.item-senddate-row,
		.item-weight,
		.item-subject {
			font-weight: var(--font-weight-bold);
		}

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-unread-icon-background-color);
			color: var(--email-item-unread-icon-text-color);
		}
	}

	&:hover {
		z-index: 2;
		box-shadow: var(--shadow-norm);
	}

	&::after {
		content: '';
		position: absolute;
		inset-block: -1px;
		inset-inline: 0;
		border: 1px solid transparent;
		border-radius: inherit;
		pointer-events: none;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible::after {
		z-index: 1;
		border-color: var(--field-focus);
		box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
	}

	&.item-is-selected {
		background-color: var(--email-item-selected-background-color);
		color: var(--email-item-selected-text-color);

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-selected-icon-background-color);
			color: var(--email-item-selected-icon-text-color);
		}

		.item-hover-action-buttons {
			--button-group-border-color: var(--email-item-selected-background-color);
		}
	}

	// Styling for contact items inside contact dropdown
	&.item-contact {
		background-color: var(--email-item-unread-background-color);
		color: var(--email-item-unread-text-color);

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-unread-icon-background-color);
			color: var(--email-item-unread-icon-text-color);
		}
	}

	// Encrypted search shows a preview of the body in the item,
	// which therefore has to be bigger
	&.es-three-rows {
		block-size: auto;
	}
}

.item-container {
	margin-inline: em(8);
	border-radius: var(--border-radius-lg);

	@include respond-to($breakpoint-small) {
		margin-inline: em(2);
	}
}

.item-container-row {
	padding-block: $item-container-row-padding-block;

	// fix pseudo element for row layout
	.item-checkbox {
		&::after {
			inset-block: -#{$item-container-padding-block};
		}
	}

	.item-weight {
		min-inline-size: 5em;

		@include respond-to(1200) {
			display: none;
		}
	}

	.item-senders {
		inline-size: rem(200);
		color: var(--text-norm);

		@include respond-to($breakpoint-medium-landscape) {
			inline-size: rem(128);
		}
	}
}

.item-checkbox-label {
	.item-checkbox {
		// this is a crazy fix for Firefox - for having ::after stuff working on it for mail conversations
		// to have increased area around checkbox for clicking

		/* autoprefixer: ignore next */
		/* stylelint-disable-next-line */
		-moz-appearance: initial;
	}

	// fix for Firefox multi-selection issue
	& > .item-checkbox {
		inline-size: 100%;
		block-size: 100%;
		z-index: 1;
	}
}

.item-firstline,
.item-secondline {
	block-size: em(20);
	line-height: calc(20 * 1.5 / 21);
}

.item-firstline {
	&-infos {
		transform: translateY(-0.5ex); // Requested by design -_-"
	}
}

.item-secondline:empty::before {
	content: ' ';
}

.item-hover-action-buttons {
	inline-size: 0;
	transform: scale(0);
	margin-inline-end: rem(-6); // Magic number to get perfect alignment with star on hover :D
	opacity: 0;
	visibility: hidden;
}

@media (hover: hover) and (pointer: fine) and (min-width: #{em($breakpoint-small + 1, $root-default-font-size)}) {
	.item-container:hover,
	.item-container-row:hover {
		.item-hover-action-buttons {
			inline-size: auto;
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	.item-container:hover .item-meta-infos,
	.item-container:hover .item-firstline-infos,
	.item-container-row:hover .item-senddate-row {
		display: none;
	}
}

/* Comfortable view */

.is-comfortable {
	.item-container {
		&:not(.item-container-row) {
			margin-block-end: em(4);
		}

		// just a 12 margin only for first element, not on mobile
		&-wrapper:first-child .item-container {
			@include respond-to($breakpoint-small, 'min') {
				margin-block-start: em(12);
			}
		}

		&-row {
			padding-inline-start: em(21);
		}
	}

	.item-unread-dot {
		position: absolute;
		inset-block-start: em(18);
		inset-inline-start: em(2);
		z-index: 1;
	}

	.item-checkbox {
		// for allowing hovering larger than fake circle
		&::after {
			content: '';
			position: absolute;
			inset-block: calc(#{-$item-container-padding-block} - 0.1em);
			inset-inline-start: calc(#{-$item-container-padding-inline-start} - 0.1em);
			inset-inline-end: -0.6em;
		}
	}
}

/* Compact view */
.item-icon-compact {
	inline-size: rem($conversation-icon-size);
	block-size: rem($conversation-icon-size);
	border-radius: 50%;
	font-size: rem(12);
	transition: background-color 0.25s ease-out;
	margin-block-start: em(-5); // to align with first line

	// for allowing hovering larger than fake circle
	&::after {
		content: '';
		position: absolute;
		inset-block: em(-8);
		inset-inline: em(-6);
		margin-block-start: em(5);
	}

	.checkbox-fakecheck {
		margin: auto;
		background: var(--background-norm);
	}
}

.list-compact {
	.item-container,
	.item-container-row {
		// block-size: $item-container-height-compact-mode;
		// scroll-margin-block-start: $item-container-height-compact-mode;
		padding-block: em(8);
		padding-inline: em(6) em(12);
		margin-inline: 0;
		border-radius: 0;

		@include respond-to($breakpoint-small) {
			padding-inline-start: em(12);
		}

		.item-container-inner {
			padding-block: em(0);
			padding-inline: em(12);
		}
	}

	.item-container {
		// center hover action vertically, did this to keep more space available for content
		&:hover,
		&:focus,
		&:focus-within {
			.item-hover-action-buttons {
				margin-block-start: -1.5em;
			}
		}
	}

	.item-container-row {
		block-size: $item-container-row-height-compact-mode;
		scroll-margin-block-start: $item-container-row-height-compact-mode;
		padding-block: 0;

		.item-icon-compact {
			// margin-block-start: 0;
			margin-block: auto;

			&::after {
				block-size: $item-container-row-height-compact-mode;
			}
		}
	}

	.item-firstline,
	.item-secondline {
		margin: 0;
	}

	.item-firstline-infos {
		transform: none;
	}
}

// fixes for ES results in compact mode list-compact class is not applied in ES context
.is-compact {
	.es-row-results,
	.es-three-rows {
		padding-inline-start: em(6);
	}

	.es-three-rows {
		margin-inline-start: 0;
	}
}

.item-is-loading {
	background-color: var(--background-norm);
	pointer-events: none;

	.item-checkbox-label::before,
	.item-icon-compact::before,
	.item-senders::before,
	.item-senddate-col::before,
	.item-senddate-row::before,
	.item-weight::before,
	.item-star,
	.item-subject::before {
		@extend %placeholder-loading;
	}

	.item-checkbox-label,
	.item-icon-compact {
		position: relative;
		margin-block: auto;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			z-index: 1;
			border-radius: var(--border-radius-md);
			background-color: currentcolor;
			opacity: 0;
		}

		.item-icon,
		.checkbox-fakecheck {
			opacity: 0;
		}
	}

	.item-checkbox-label {
		margin-block-start: 0;
	}

	.item-senders,
	.item-senddate-col,
	.item-senddate-row,
	.item-weight,
	.item-subject {
		&::before {
			@extend %item-loading-pseudo;
		}
	}

	.item-senders {
		&::before {
			inline-size: 35%;
		}
	}

	.item-senddate-col {
		min-inline-size: 6em;

		&::before {
			inline-size: 100%;
		}
	}

	.item-senddate-row {
		&::before {
			inline-size: 70%;
		}
	}

	.item-weight {
		min-inline-size: 4em;

		&::before {
			inline-size: 100%;
		}
	}

	.item-subject {
		&::before {
			inline-size: 60%;
		}
	}
}

.item-checkbox {
	& + .item-icon {
		border: 1px solid transparent;
	}

	// hidden fake check by default
	& + .item-icon > .item-icon-fakecheck {
		display: none;
	}

	&:focus-visible + .item-icon {
		border-color: var(--field-focus);
		box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
	}

	// hover state of checkbox
	&:hover + .item-icon,
	& + .item-icon:hover {
		& > .item-abbr {
			display: none;
		}

		& > .item-icon-fakecheck {
			display: flex;
			transform: scale(1);
		}
	}

	// checked state
	&:checked + .item-icon {
		background-color: var(--interaction-norm);

		& > .item-abbr {
			display: none;
		}

		& > .item-icon-fakecheck {
			display: flex;
			animation: anime-conversation-icon-in easing(ease-out-quint) 0.15s;
		}

		@keyframes anime-conversation-icon-in {
			0% {
				transform: scale(0);
			}

			100% {
				transform: scale(1);
			}
		}

		.item-icon-fakecheck-icon {
			fill: var(--interaction-norm-contrast);
		}
	}
}
