@import '~@proton/styles/scss/config';

.file-browser-list-item td,
.file-browser-table th {
	&:first-of-type {
		// Checkbox cell
		position: relative; // Because of .increase-click-surface
		padding-inline: 1em;
		inline-size: calc(#{rem(16)} + 2em);
	}
}

// in this case, we can remove focus, that is visible via selected row
.file-browser-list-item {
	&:focus,
	&:focus-visible {
		outline: 0;
	}
}

.file-browser--options-focus {
	background-color: var(--button-hover-background-color);
	color: var(--button-hover-text-color);
}

.file-browser-grid-item {
	position: relative;
	background-color: var(--background-norm);
	overflow: hidden;

	&:hover,
	&:focus {
		background-color: var(--background-weak);
	}

	&:focus-visible {
		outline: 0; // not needed, provided by file-browser-grid-item--highlight
	}
}

.file-browser-grid-item.file-browser-grid-item--highlight {
	background-color: var(--background-strong);
}

.file-browser-grid-item--thumbnail {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}

.file-browser-grid-item--container {
	position: relative;
}

.file-browser-grid-item--select {
	position: absolute;
	inset-block-start: 0.2em;
	inset-inline-start: 0.2em;
}

.file-browser-grid-item--file-name {
	position: relative;
	inline-size: 100%;
	block-size: rem(42);
	line-height: rem(42);

	// On the side is small options button.
	padding-block: 0;
	padding-inline: rem(40);
}

.file-browser-grid-view--signature-icon {
	position: absolute;
	inset-inline-start: rem(4);
	block-size: 100%;
}

.file-browser-grid-view--options {
	position: absolute;
	inset-inline-end: rem(4);
	inset-block-end: rem(8);
}

.file-browser-list--icon-column {
	inline-size: rem(48); // To fit one small icon + spacing around.
	max-block-size: 100%;
	&#{&} {
		padding-block: 0;
	}
}

.file-browser-list-item--thumbnail {
	block-size: 1rem;
	inline-size: 1rem;
	border-radius: 25%;
	object-fit: cover;
}
